html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #bcbcbc;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #3299bb;
  color: #e9e9e9;
  padding: 15px 0 15px 0;
}
.flex_nav {
  background-color: #3299bb;
}
.flex_nav ul {
  display: flex;
  justify-content: flex-end;
}
.flex_nav li {
  padding: 10px;
}
.nav_link {
  color: #e9e9e9;
  transition: border-bottom 0.2s ease;
  display: inline-block;
  text-align: center;
}
.nav_link:hover {
  border-bottom: 2px solid #ff9900;
  margin-bottom: -2px;
}
.toggle_nav {
  display: none;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
