@MedGrey: #BCBCBC;
@DarkGrey: #424242;
@LightGrey: #E9E9E9;
@Highlight: #FF9900;
@MainBlue: #3299BB;


html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: @MedGrey;
  display: flex;
  flex-direction: column; }

header {
  background-color: @MainBlue;
  color: @LightGrey;
  padding: 15px 0 15px 0; }

.flex_nav {
  background-color: @MainBlue; }
.flex_nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px; }
.flex_nav li {
  padding: 10px; }

.nav_link {
  color: @LightGrey;
  transition: border-bottom 0.1s ease;
  display: inline-block;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}

.nav_link:hover {
  color: @Highlight;
  border-bottom: 3px solid @Highlight;
  padding-bottom: 4px;
  margin-bottom: -7px;
   }

.toggle_nav {
  display: none; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none;  }