html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: #dce0e6;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #2b4c7e;
  color: #dce0e6;
  padding: 15px 0 15px 0;
}
.flex_nav {
  background-color: #2b4c7e;
}
.flex_nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.toggle_nav {
  display: none;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
}
/* Underline From Center */
.nav_link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  padding: 7px;
  padding-right: 9px;
  padding-left: 9px;
  color: #dce0e6;
}
.nav_link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #567ebb;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav_link:hover:before,
.nav_link:focus:before,
.nav_link:active:before {
  left: 0;
  right: 0;
}
.nav_link.current {
  border-color: #567ebb;
  background-color: #567ebb;
}
