@Grey: #606D80;
@Dark: #1F1F20;
@Light: #DCE0E6;
@Secondary: #567EBB;
@Main: #2B4C7E;


html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: @Light;
  display: flex;
  flex-direction: column; }

header {
  background-color: @Main;
  color: @Light;
  padding: 15px 0 15px 0; }

.flex_nav {
  background-color: @Main;
  display: flex;
  justify-content:space-between;
}
.flex_nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.flex_nav li {
  //padding: 5px;
}

.toggle_nav {
  display: none; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none;  }

h1 {
  text-align: center }

.my-logo{
  display: flex;
  justify-content: flex-start;
  background-image: url("../img/icon-light.png");
  width: 82px;
  height: 56px;
  transition-duration: 0.3s;
  margin-left: 15px;

}
.my-logo:hover{
  background-image: url("../img/icon-dark.png");
}


/* Underline From Center from hover.css - http://ianlunn.co.uk/portfolio/hover-css/ */
.nav_link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  padding: 7px;
  padding-right: 9px;
  padding-left: 9px;
  color: @Light
}
.nav_link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: @Secondary;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav_link:hover:before, .nav_link:focus:before, .nav_link:active:before {
  left: 0;
  right: 0;
}
.nav_link.current{
  border-color: @Secondary;
  background-color: @Secondary;
  //border-bottom: 2px;
  //border-bottom-style: solid;
  //padding-bottom: -4px;

}

//@media all and (max-width: 1000px) {
//  .flex_nav ul {
//    flex-wrap: wrap; }
//  .flex_nav li {
//    flex: 1 1 50%; }
//
//  .home_header {
//    min-height: 200px; } }
//@media all and (max-width: 500px) {
//  .flex_nav li {
//    flex-basis: 100%; }
//
//  .home_header {
//    min-height: 100px; }
//
//  .toggle_nav {
//    display: block; } }
